<!DOCTYPE html>
{% load static %}
<html>
<body>
<style>
body {background-color: teal;}
h1   {color: white;}
p    {color:white;}
</style>
</head>
<body>

<h1 style="text-align:center;", style="font-size: 300%;", style="font-family:verdana;">Bima Sudarsono Adinsa</h1>
<img src="{% static 'img/profil_bima.jpg' %}" alt="Trulli" width="500" height="500" style="display: block; margin: auto;">
<p style="font-family:'Times New Roman', Times, serif;">Nama &emsp;&emsp;&emsp;&emsp;&emsp;: Bima  Sudarsono Adinsa</p>
<p style="font-family:'Times New Roman', Times, serif;">NPM &emsp;&emsp;&emsp;&emsp;&emsp;: 1906399083</p>
<p style="font-family:'Times New Roman', Times, serif;">Angkatan &emsp;&emsp;&emsp;: 2019</p>
<p style="font-family:'Times New Roman', Times, serif;">Hobi &emsp;&emsp;&emsp;&emsp;&emsp;: Bulutangkis, Berenang, Bermain Game</p>
<p style="font-family:'Times New Roman', Times, serif;">Deskripsi &emsp;&emsp;&emsp;: Saya suka makan, tapi juga suka berolahraga</p>
<p style="font-family:'Times New Roman', Times, serif;">Tempat Kuliah &emsp;&ensp;: Universitas Indonesia</p>
<p style="font-family:'Times New Roman', Times, serif;">Riwayat Pendidikan&ensp;: SMAN 14 Jakarta, SMPN 81 Jakarta</p>
<p style="font-family:'Times New Roman', Times, serif;">Media Sosial&emsp;&emsp;&emsp;: Line : qwerty-_-qwerty, Instagram : bima__adinsa</p>


</body>
</html>

